.width {
  width: 100%;
}
.img-border {
  border: 3px solid white;
}
.section-shaped .shape-style-1.shape-default {
  background: linear-gradient(150deg, #3c5298 15%, #3748fb 70%, #04085a 94%);
}
.mt-neg {
  margin-top: -3rem;
}
.prod-home-sec{
  
  text-align: center;
}

.prod-home-sec img{
  width: 300px;
  margin-bottom: 10px;
}

.prod-home-sec h4{
  font-size: 20px;
  margin-top: 1rem;
}

.prod-home-sec p{
  font-size: 18px;
  font-weight: 600;
}
.cart-btn{
  padding: 10px 40px;
  background-color: #900085;
  color: white;
  border: none;
  font-size: 14px;
  border-radius: 4px;
}

