.width {
  width: 100%;
}
.img-border {
  border: 3px solid white;
}
.section-shaped .shape-style-1.shape-default {
  background: linear-gradient(150deg, #3c5298 15%, #3748fb 70%, #04085a 94%);
}
.mt-neg {
  margin-top: -3rem;
}
