<main>
  <section
    class="section section-lg pt-lg-0 product-section"
    style="margin-bottom: 1rem"
  >
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="sec-title">
            <h2>Our <span class="sp-txt">Projects</span></h2>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-4">
              <div class="project-box">
                <div class="img-container">
                  <img
                    src="./assets/img/brand/project-1.jpg"
                    class="img-fluid"
                  />
                </div>
                <div class="project-details">
                  <h6>Sri Arangar Nivas</h6>
                  <p><i class="fa fa-map-marker"></i> Medavakkam</p>
                  <p>
                    <i class="fa fa-building"></i> Starting 900 Sq.ft - 2400
                    Sq.ft
                  </p>
                  <p><i class="fa fa-bed"></i> 2BHK / 2.5BHK / 3BHK</p>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="project-box">
                <div class="img-container">
                  <img
                    src="./assets/img/brand/project-1.jpg"
                    class="img-fluid"
                  />
                </div>
                <div class="project-details">
                  <h6>Sri Arangar Nivas</h6>
                  <p><i class="fa fa-map-marker"></i> Medavakkam</p>
                  <p>
                    <i class="fa fa-building"></i> Starting 900 Sq.ft - 2400
                    Sq.ft
                  </p>
                  <p><i class="fa fa-bed"></i> 2BHK / 2.5BHK / 3BHK</p>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="project-box">
                <div class="img-container">
                  <img
                    src="./assets/img/brand/project-1.jpg"
                    class="img-fluid"
                  />
                </div>
                <div class="project-details">
                  <h6>Sri Arangar Nivas</h6>
                  <p><i class="fa fa-map-marker"></i> Medavakkam</p>
                  <p>
                    <i class="fa fa-building"></i> Starting 900 Sq.ft - 2400
                    Sq.ft
                  </p>
                  <p><i class="fa fa-bed"></i> 2BHK / 2.5BHK / 3BHK</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- <section class="section section-lg">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6 order-md-2">
          <img src="./assets/img/theme/promo-1.png" class="img-fluid floating">
        </div>
        <div class="col-md-6 order-md-1">
          <div class="pr-md-5">
            <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle mb-5">
              <i class="ni ni-settings-gear-65"></i>
            </div>
            <h3>Awesome features</h3>
            <p>The kit comes with three pre-built pages to help you get started faster. You can change the text and
              images and you're good to go.</p>
            <ul class="list-unstyled mt-5">
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-settings-gear-65"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Carefully crafted components</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-html5"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Amazing page examples</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-satisfied"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Super friendly support team</h6>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section> -->
</main>
