.kid-logo{
    width: 60px;
}
.top-logo-container{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-logo-container h4{
   font-size: 32px;
   font-weight: 600;
   color: #900085;
   margin-left: 1rem;
}

.top-con-bar {
    background-color: #900085;
}

