<main>
  <section class="section section-lg pt-lg-0 product-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="sec-title">
            <h2>Join <span class="sp-txt">Ventures</span></h2>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
              <div class="contact-form">
                <!-- <h3 class="h4 mb-4">Join Us</h3> -->
                <div class="form-group">
                  <label>Full Name</label>
                  <input
                    type="text"
                    placeholder="Full Name"
                    class="form-control"
                  />
                </div>
                <div class="form-group">
                  <label>Email</label>
                  <input type="text" placeholder="Email" class="form-control" />
                </div>
                <div class="form-group">
                  <label>Mobile No</label>
                  <input
                    type="text"
                    placeholder="Mobile No"
                    class="form-control"
                  />
                </div>
                <div class="form-group">
                  <br />
                  <input
                    type="radio"
                    id="joinVenture"
                    name="joinVenture"
                    value="joinVenture"
                    style="margin-right: 10px"
                    checked
                  />
                  <label for="huey" style="margin-right: 10px"
                    >Join Venture</label
                  >
                  <input
                    type="radio"
                    id="Outright"
                    name="Outright"
                    value="Outright"
                    style="margin-right: 10px"
                  />
                  <label for="Outright" style="margin-right: 10px"
                    >Outright</label
                  >
                </div>
                <br />
                <div class="form-group">
                  <label>Property Location</label>
                  <input
                    type="text"
                    placeholder="Property Location"
                    class="form-control"
                  />
                </div>
                <div class="form-group">
                  <label>Comments / Message</label>
                  <input
                    type="text"
                    placeholder="Message"
                    class="form-control"
                  />
                </div>

                <div class="btn-container text-center">
                  <button class="btn btn-primary outline-btn">Send</button>
                  <button class="btn btn-secondry">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
